body{
    background-color: #808080;
    margin: auto;
    height: 100%;
    color: #00334D;
    font-family: sans-serif;
    font-weight: 100;
}

input[type="text"]{
    font-size: 16px;
    color: #00334D;
    padding-left: 16px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
  }

input[type="email"]{
    font-size: 16px;
    color: #00334D;
    padding-left: 12px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
  }

input[type="password"]{
    font-size: 16px;
    color: #00334D;
    padding-left: 12px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
  }


.mainContainer {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #F2F2F2;
    height: 100%;
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
}

a {
    color: #00334D;
    text-decoration: none; /* no underline */
  }

.userForm {
    width: 28%;
    background-color: white;
    height: 24vh;
    border: 2px solid rgb(116, 149, 161);
    border-radius: 5px;
    margin: auto;
}

.userHeader {
    font-size: 40px;
    font-weight: normal;
    margin-top: 2.4vh;
}

.userSecondaryContainer {
    width: 86%;
    margin: auto;
    text-align: center;
}

.userCaption {
    color: #00334D;
    font-weight: 500;
    margin-bottom: 1vh;
    
}

.userInput {
    width: 100%;
    height: 5.5vh;
    border: 2px solid rgb(116, 149, 161);
    border-radius: 5px;
    margin-bottom: 2.5vh;
}

.primaryUserButton {
    display: block;
    width: 100%;
    color: white;
    background-color: #EE3F36;
    height: 5.5vh;
    border: transparent;
    font-size: 22px;
    margin-top: 2vh;
    margin-bottom: 4vh;
}

.secondaryUserButton {
    border: none;
    background-color: transparent;
    width: 8vw;
    font-size: 18px; 
    margin: 0 auto;
}