body{
    background-color: #808080;
    margin: auto;
    height: 100%;
    color: #00334D;
    font-family: sans-serif;
    font-weight: 100;
}

input[type="text"]{
    font-size: 16px;
    color: #00334D;
    padding-left: 16px;
  }

input[type="email"]{
    font-size: 16px;
    color: #00334D;
    padding-left: 12px;
  }

.mainContainer {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #F2F2F2;
    height: 100%;
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
}

a {
    color: #00334D;
    text-decoration: none; /* no underline */
  }

.userForm {
    width: 30%;
    background-color: white;
    height: 24vh;
    border: 1px solid #00334D;
    border-radius: 5px;
    margin: auto;
}