body{
    background-color: #808080;
    margin: auto;
    height: 100%;
    color: #00334D;
    font-family: sans-serif;
    font-weight: 100;
}

input[type="text"]{
    font-size: 16px;
    color: #00334D;
    padding-left: 16px;
  }

input[type="email"]{
    font-size: 16px;
    color: #00334D;
    padding-left: 12px;
  }

.mainContainer {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #F2F2F2;
    height: 100%;
    position:fixed;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
}

.secondaryContainer {
    width: 78%;
    margin: auto;
}

.headerContainer {
    width: 100%;
    margin-top: 11vh;
    height: 8vh;
}

#urlHeader {
    float: left;
    margin-top: 0;
    font-weight: normal;
    font-size: 40px;
}

#signOutButton {
    border: none;
    background-color: transparent;
    color: #00334D;
    font-size: 16px;
    vertical-align: bottom;
    margin-top: 12px;
    float: right;
}

.urlForm {
    width: 100%;
    background-color: white;
    height: 24vh;
    border: 1px solid #00334D;
    border-radius: 5px;
}

.formContainer {
    width: 94%;
    height: 15vh;
    margin: auto;
}

#urlInput {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    height: 5vh;
    margin-top: 4vh;
    border: 1px solid #00334D;
    border-radius: 5px;
    margin-bottom: 2vh;
}
#errorInput {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    height: 5vh;
    margin-top: 4vh;
    border: 1px solid #EE3F36;
    border-radius: 5px;
    margin-bottom: 2vh;
}

#createURLButton {
    border: none;
    border-radius: 5px;
    background-color: #EE3F36;
    color: white;
    width: 12vw;
    height: 6vh;
    float: left;
    margin-top: 2vh;
    font-size: 24px;
    letter-spacing: 1px;
}

#errorSpan {
    color: #EE3F36;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
}

.urlTable {
    width: 100%;
    background-color: white;
    margin-top: 5vh;
    text-align: left;
    border-left: 1px solid #00334D;
    border-collapse: collapse;  
}

th {
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 26px;
    border: 1px solid #00334D;
    border-radius: 5px;
}

td {
    padding-left: 18px;
    border: 1px solid #00334D;
    border-radius: 5px;
}